
<div class="col-md-4" >
  <button type="submit" class="btnSubmit" (click)="back()">Back</button>
</div>

<div class="container">

<div class="note">
<p>Login or register from here to access.</p>
</div>
<div class="form-content">

<div class="col-md-6" >
<div class="form-group" >
<input type="text" class="form-control" name="id1" placeholder="User Name" [(ngModel)]="id">
</div>
<div class="form-group">
<input type="password" class="form-control" name="pswd1" placeholder="Password" [(ngModel)]="pswd">
</div>
<button type="submit" class="btnSubmit" (click)="login()">Login</button>


</div>
</div>
  

</div>

